<?php
switch ($ServerName) {
		case 'ccc':
			define("CONTACT_EMAIL", "");
			define("ANALYTICS_ID", "");
			define("DB_HOST", "localhost");
			define("DB_USER", "ccc");
			define("DB_PASS", "devccc");
			define("DB_SCHEMA", "BiblioCaracol");
			break;
		
		case 'ccc.i2d.in':
			define("CONTACT_EMAIL", "");
			define("ANALYTICS_ID", "");
			break;
	}